dist: xenial
language: python
python:
  - "3.7"

branches:
  only:
    - master

before_install:
  - echo $(TRAVIS_PULL_REQUEST_BRANCH)
  - echo $(TRAVIS_BRANCH)

install:
  - pip install -r requirements.txt
  - pip install .

script: pytest
